/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Title and paragraph*/
.container ,footer {
    max-width: 1100px;
    margin: 0 auto;
}

.main-header {
    text-align: center;
    background-color: brown;
    padding: 50px;
    
}

h1 {
    margin-bottom: 30px;
}
/*Main body with card*/
.float-left{
    float: left;
}

.cards-container {
    
    
}


.body-card{
    width: 310px ;
    height: 120px;
    margin-right: 40px;
    background-color: #0f0e17 ;
    color: white;
    box-shadow:  5px  5px 2px #9c9c9c,
                -5px -5px 2px #9c9c9c,
                 5px -5px 2px #9c9c9c,
                -5px  5px 2px #9c9c9c; 
}

img{
    width: 120px;
    margin-right: 10px;
}

.name, .professional-role{
    margin-bottom: 10px;
}

.name {
    font-size: 20px;
}

.professional-role {
    color: yellow;
}

.email{
    color: #4bacdf;
}
/*Final Part*/
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
}
